In [8]:
temperaturas = [2,45,67,23,45,66,12,1,34,67,99,98,67,64,44,100]

In [9]:
for bajas_temp in range(11):
    print(bajas_temp)

0
1
2
3
4
5
6
7
8
9
10

In [10]:
for medias_temp in range(11,21):
    print(medias_temp)

11
12
13
14
15
16
17
18
19
20

In [11]:
for altas_temp in range(21,101):
    print(altas_temp)

21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [12]:
for bajas_temp in temperaturas:

    print((bajas_temp * 9 / 5) + 32)

35.6
113.0
152.6
73.4
113.0
150.8
53.6
33.8
93.2
152.6
210.2
208.4
152.6
147.2
111.2
212.0

In [13]:
for medias_temp in temperaturas:

    print((medias_temp * 9 / 5) + 32)

35.6
113.0
152.6
73.4
113.0
150.8
53.6
33.8
93.2
152.6
210.2
208.4
152.6
147.2
111.2
212.0

In [14]:
for altas_temp in temperaturas:

    print((altas_temp * 9 / 5) + 32)

35.6
113.0
152.6
73.4
113.0
150.8
53.6
33.8
93.2
152.6
210.2
208.4
152.6
147.2
111.2
212.0

In [15]:
for i in range(6):
    print(i)

0
1
2
3
4
5

In [16]:
for i in range(3,7):
    print(i)

3
4
5
6

In [17]:
for i in range(6,9):
    print(i)

6
7
8

In [18]:
for i in range(2,5):
    print(i)

2
3
4

In [19]:
for i in range(2,13,3):
    print(i)

2
5
8
11

In [20]:
for i in range(1,11,2):
    print(i)

1
3
5
7
9

In [21]:
print(temperaturas)

[2, 45, 67, 23, 45, 66, 12, 1, 34, 67, 99, 98, 67, 64, 44, 100]

In [22]:
for temperatura_cuadrado in temperaturas:
    print(temperatura_cuadrado ** 2)

4
2025
4489
529
2025
4356
144
1
1156
4489
9801
9604
4489
4096
1936
10000

In [23]:
for resto_division in temperaturas:
    print(resto_division % 2)

0
1
1
1
1
0
0
1
0
1
1
0
1
0
0
0

In [24]:
for temperaturas_pares in range(1,101,2):
    print(temperaturas_pares)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

In [27]:
print(temperaturas)

[2, 45, 67, 23, 45, 66, 12, 1, 34, 67, 99, 98, 67, 64, 44, 100]

In [26]:
for temperaturas in range(1,101,3)
print(temperaturas)

SyntaxError: expected ':' (2185624242.py, line 1)